.assetPreview {
  border-radius: 5%;
  overflow: hidden;
  background-color: var(--asset-background-color);
  aspect-ratio: 1;
  flex: 1;
  position: relative;
}
.assetPreview video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.assetPreview span {
  display: block;
  width: 100%;
  height: 100%;
}
.assetPreviewPlaceholder {
  background-color: var(--placeholder-color);
}
.assetPreviewRound {
  border-radius: 50%;
}
